<nav class="navbar navbar-expand-sm navbar-dark bg-dark container ">
    <div class="container-fluid justify-content-center ">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex align-items-center justify-content-center" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" ariaCurrentWhenActive="page" routerLinkActive="active" routerLink="/crisis-center">Crisis Center</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ariaCurrentWhenActive="page" routerLinkActive="active" routerLink="heroes">Heroes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ariaCurrentWhenActive="page" routerLinkActive="active" routerLink="admin">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ariaCurrentWhenActive="page" routerLinkActive="active" routerLink="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ariaCurrentWhenActive="page" routerLinkActive="active" routerLink="contact">Contact</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>